# Ordinary Least Squares (OLS) and the gradient descent algorithm

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import *
import matplotlib.pyplot as plt

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [5]:
data = pd.read_csv('data_and materials/syn_X.csv', header=None)
label = pd.read_csv('data_and materials/syn_y.csv', header=None)
data.head()

         0        1
0  0.53767  0.84038
1  1.83390 -0.88803
2 -2.25880  0.10009
3  0.86217 -0.54453
4  0.31877  0.30352

In [7]:
def add_intercept(X):
  return np.concatenate((np.ones_like(X[:,:1]), X), axis=1)

In [13]:
data['intercept']=np.ones(data.shape[0])

In [16]:
data.columns = ['0','1','intercept']
data.head()

         0        1  intercept
0  0.53767  0.84038        1.0
1  1.83390 -0.88803        1.0
2 -2.25880  0.10009        1.0
3  0.86217 -0.54453        1.0
4  0.31877  0.30352        1.0

In [17]:
data= data[['intercept','0','1']]
data.head()

   intercept        0        1
0        1.0  0.53767  0.84038
1        1.0  1.83390 -0.88803
2        1.0 -2.25880  0.10009
3        1.0  0.86217 -0.54453
4        1.0  0.31877  0.30352

In [24]:
np.array(np.linalg.inv(data.T @ data)@ data.T @label)

array([[ 1.92960603],
       [ 1.26397096],
       [-4.59799331]])

In [25]:
from sklearn.linear_model import *